.house-filter {
  color: rgb(6, 107, 94);
  padding: 0 1rem;
}
.house-filter-controls {
  display: flex;
  width: 100%;
  align-items: center;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  margin: 2rem 0;
}
.house-filter label {
  font-weight: bold;
  margin: 2rem;
  width: 100%;
}
.house-filter select {
  font: inherit;
  padding: 0.5rem 3rem;
  font-weight: bold;
  border-radius: 6px;
  transition: transform 0.2s;
}
.house-filter input {
  font: inherit;
  width: 95%;
  padding: 0.5rem 3rem;
  font-weight: bold;
  border-radius: 6px;
  transition: transform 0.2s;
}
/* .cost-selection {
  padding: 15px;
  border: 5px;
  background-color: rgb(84, 208, 126);
  border-radius: 5px;
  margin: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}
.cost-selection select:hover {
  transform: scale(1.05);
} */
.place-selection {
  padding: 15px;
  border: 5px;
  background-color: rgb(84, 208, 126);
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  margin: 10px;
  width: 30%;
}
.place-selection select:hover,
.place-selection-date input:hover {
  transform: scale(1.05);
}
.place-selection-date {
  padding: 15px;
  border: 5px;
  background-color: rgb(84, 208, 126);
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  margin: 10px;
  width: 35%;
}
